@using Version2.Data.Models
@model EmployeeDto[]

   
    <table class="table table-bordered" style="font-size:small">
        <thead>
            <tr>
                <th scope="col">Employee</th>
                <th scope="col"></th>
            
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.Count(); i++)
            {
            @using (Html.BeginForm("SelectEmployee","DTR", FormMethod.Post))
            {
                @Html.HiddenFor(m=>m[i].Id)
                
                <tr>
                    <input type="hidden" name="EmployeeId" value=@Model[i].EmployeeId >
                    <td class="col-md-3 ">
                        @Model[i].EmployeeName
                    </td>
                    <td><input type="submit" value="Select"></td>
                </tr>
            }
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="10">
                    <div class="row">
                        <div class="col-9"></div>
                        <div class="col-3">
                            <input type="submit" value="Save" /> 
                            <input type="button" value="Cancel" /></div>
                    
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
} 